### Importações

In [3]:
# Para os DataFrames
import pandas as pd

# Para encapsular as informações
import pickle


# Para transformar os dados númericos em Categóricos
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer, make_column_selector

# Para o SMOTE
from imblearn.over_sampling import SMOTE

# Para o SVM
from imblearn.over_sampling import SVMSMOTE

# Para o Cluster Centroid
from imblearn.under_sampling import ClusterCentroids
from sklearn.cluster import MiniBatchKMeans

# Para o K Means
from imblearn.over_sampling import KMeansSMOTE

# Para o Boderline
from imblearn.over_sampling import BorderlineSMOTE

# Para o Random OverSampling
from imblearn.over_sampling import RandomOverSampler

# Para o ADASYN
from imblearn.over_sampling import ADASYN

## Lendo o arquivo da pesquisa

In [4]:
df_pesquisa = pd.read_excel('./bases/TrocaTine_Pesquisa.xlsx')

display(df_pesquisa.head(2))

,ID,Hora de início,Hora de conclusão,Email,Nome,Hora da última modificação,Em qual faixa etária você se encontra?,Você se identifica com qual gênero?,Em qual cidade você vive?,Em qual faixa salarial você se encaixa?,...,O que geralmente você procura fazer com as roupas antigas?,Você conhece algum local de coleta de tecido?,Você prefere comprar roupas com o objetivo de que:,Quais dificuldades você encontra ao tentar comprar as suas roupas?,Você compraria roupas usadas?,Por que você compraria ou não roupas usadas?,Já trocou roupas de alguma forma?,Aplicativos de compras online seria algo que considera seguro?,Por que você acha seguro ou não?,"Nosso objetivo é incentivar a troca de itens infantis entre as pessoas, além de disponibilizar os produtos por um preço mais acessível. Você estaria interessado/a em por utilizar um aplicativo com..."
0,1,2024-08-20 10:28:31,2024-08-20 10:32:56,anonymous,NaN,NaN,Entre 35 e 44 anos,Feminino,Osasco,"Classe C: entre R$ 2,9 mil e R$ 7,1 mil",...,Doação,Não,Comprar mais barato,Crescimento;,Sim,Já comprei em brechos e não vejo problemas. Se...,Doou;Trocou;,Não,Não compro roupas pela Internet. Não é pela co...,Não
1,2,2024-08-20 10:30:49,2024-08-20 10:36:06,anonymous,NaN,NaN,Entre 54 e 59 anos,Feminino,Barueri/SP,"Classe C: entre R$ 2,9 mil e R$ 7,1 mil",...,Doar,Não,Comprar mais barato,Preço;,Não,Não curto compar roupas usadas. Nunca gostei.,Doou;,Sim,"Compro minhas roupas online, em sites de total...",Sim

## Verificando dados gerais da base

In [7]:
for columns in df_pesquisa:
    print(f'{columns}:\n')
    display(df_pesquisa[columns].describe())

ID:

count    232.000000
mean     116.500000
std       67.116814
min        1.000000
25%       58.750000
50%      116.500000
75%      174.250000
max      232.000000
Name: ID, dtype: float64

Hora de início:

count                              232
mean     2024-08-23 05:50:16.939655424
min                2024-08-20 10:28:31
25%      2024-08-20 15:44:26.249999872
50%                2024-08-23 09:51:41
75%      2024-08-23 14:15:48.750000128
max                2024-09-05 11:20:59
Name: Hora de início, dtype: object

Hora de conclusão:

count                              232
mean     2024-08-23 05:58:20.836206592
min                2024-08-20 10:32:56
25%                2024-08-20 15:58:25
50%         2024-08-23 09:54:37.500000
75%      2024-08-23 14:26:59.750000128
max                2024-09-05 11:23:14
Name: Hora de conclusão, dtype: object

Email:

count           232
unique            1
top       anonymous
freq            232
Name: Email, dtype: object

Nome:

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Nome, dtype: float64

Hora da última modificação:

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Hora da última modificação, dtype: float64

Em qual faixa etária você se encontra? :

count                  232
unique                   7
top       Menos de 18 anos
freq                    76
Name: Em qual faixa etária você se encontra? , dtype: object

Você se identifica com qual gênero?:

count          232
unique           3
top       Feminino
freq           152
Name: Você se identifica com qual gênero?, dtype: object

Em qual cidade você vive?:

count           232
unique           63
top       São Paulo
freq             72
Name: Em qual cidade você vive?, dtype: object

Em qual faixa salarial você se encaixa?:

count                                         232
unique                                          4
top       Classe C: entre R$ 2,9 mil e R$ 7,1 mil
freq                                           92
Name: Em qual faixa salarial você se encaixa?, dtype: object

Você tem filhos?:

count     232
unique      2
top       Sim
freq      121
Name: Você tem filhos?, dtype: object

Se sim, ele se encaixa em qual faixa etária? :

count                    121
unique                    14
top       Entre 15 e 17 anos
freq                      34
Name: Se sim, ele se encaixa em qual faixa etária? , dtype: object

Quais dificuldades você acha que são encontradas ao tentar comprar as roupas infantis? :

count        232
unique        15
top       Preço;
freq          76
Name: Quais dificuldades você acha que são encontradas ao tentar comprar as roupas infantis? , dtype: object

Você encontra dificuldade em se desfazer das suas roupas antigas? :

count     232
unique      2
top       Não
freq      173
Name: Você encontra dificuldade em se desfazer das suas roupas antigas? , dtype: object

Quais dificuldades você encontra? :

count                                                    59
unique                                                   59
top       Eu encontro dificuldades em achar lugares onde...
freq                                                      1
Name: Quais dificuldades você encontra? , dtype: object

O que geralmente você procura fazer com as roupas antigas?:

count      232
unique     111
top       Doar
freq        44
Name: O que geralmente você procura fazer com as roupas antigas?, dtype: object

Você conhece algum local de coleta de tecido? :

count     232
unique      2
top       Não
freq      205
Name: Você conhece algum local de coleta de tecido? , dtype: object

Você prefere comprar roupas com o objetivo de que::

count                     232
unique                      2
top       Comprar mais barato
freq                      178
Name: Você prefere comprar roupas com o objetivo de que:, dtype: object

Quais dificuldades você encontra ao tentar comprar as suas roupas? :

count        232
unique        13
top       Preço;
freq          87
Name: Quais dificuldades você encontra ao tentar comprar as suas roupas? , dtype: object

Você compraria roupas usadas? :

count     232
unique      2
top       Sim
freq      163
Name: Você compraria roupas usadas? , dtype: object

Por que você compraria ou não roupas usadas?:

count     232
unique    224
top         .
freq        4
Name: Por que você compraria ou não roupas usadas?, dtype: object

Já trocou roupas de alguma forma? :

count       232
unique       12
top       Doou;
freq        106
Name: Já trocou roupas de alguma forma? , dtype: object

Aplicativos de compras online seria algo que considera seguro? :

count     232
unique      2
top       Sim
freq      183
Name: Aplicativos de compras online seria algo que considera seguro? , dtype: object

Por que você acha seguro ou não?:

count     232
unique    225
top         .
freq        5
Name: Por que você acha seguro ou não?, dtype: object

Nosso objetivo é incentivar a troca de itens infantis entre as pessoas, além de disponibilizar os produtos por um preço mais acessível. Você estaria interessado/a em por utilizar um aplicativo com...:

count     232
unique      2
top       Sim
freq      171
Name: Nosso objetivo é incentivar a troca de itens infantis entre as pessoas, além de disponibilizar os produtos por um preço mais acessível. Você estaria interessado/a em por utilizar um aplicativo com..., dtype: object

## Limpeza do dataset

### Excluindo colunas

Motivos:
 - Nulos
 - ID's duplicados
 - Descritivos

In [49]:
df_pesquisa = df_pesquisa.drop(
    ['ID', 'Nome', 'Hora da última modificação', 'Email', 'Você encontra dificuldade em se desfazer das suas roupas antigas? ', 'Quais dificuldades você encontra? ', 'O que geralmente você procura fazer com as roupas antigas?', 'Por que você compraria ou não roupas usadas?', 'Por que você acha seguro ou não?', 'Hora de início', 'Hora de conclusão'], 
    axis=1)

df_pesquisa = df_pesquisa[df_pesquisa['Em qual cidade você vive?'] != 'FENDA DO BIKINI']

display(df_pesquisa.head(3))

,Em qual faixa etária você se encontra?,Você se identifica com qual gênero?,Em qual cidade você vive?,Em qual faixa salarial você se encaixa?,Você tem filhos?,"Se sim, ele se encaixa em qual faixa etária?",Quais dificuldades você acha que são encontradas ao tentar comprar as roupas infantis?,Você conhece algum local de coleta de tecido?,Você prefere comprar roupas com o objetivo de que:,Quais dificuldades você encontra ao tentar comprar as suas roupas?,Você compraria roupas usadas?,Já trocou roupas de alguma forma?,Aplicativos de compras online seria algo que considera seguro?,"Nosso objetivo é incentivar a troca de itens infantis entre as pessoas, além de disponibilizar os produtos por um preço mais acessível. Você estaria interessado/a em por utilizar um aplicativo com..."
0,Entre 35 e 44 anos,Feminino,Osasco,"Classe C: entre R$ 2,9 mil e R$ 7,1 mil",Sim,Entre 9 e 14 anos,Preço;,Não,Comprar mais barato,Crescimento;,Sim,Doou;Trocou;,Não,Não
1,Entre 54 e 59 anos,Feminino,Barueri/SP,"Classe C: entre R$ 2,9 mil e R$ 7,1 mil",Sim,Entre 15 e 17 anos,Crescimento;,Não,Comprar mais barato,Preço;,Não,Doou;,Sim,Sim
2,Menos de 18 anos,Masculino,São Paulo,"Classe C: entre R$ 2,9 mil e R$ 7,1 mil",Não,NaN,Qualidade;Crescimento;,Não,Comprar mais barato,Qualidade;Crescimento;,Sim,Doou;,Sim,Sim
3,Menos de 18 anos,Feminino,Osasco,"Classe C: entre R$ 2,9 mil e R$ 7,1 mil",Não,NaN,Crescimento;,Não,Comprar mais barato,Preço;,Sim,Doou;,Sim,Sim
4,Menos de 18 anos,Masculino,São paulo,Classe A: superior a R$ 22 mil,Não,NaN,Crescimento;,Não,Chegue mais rápido,Crescimento;,Não,Doou;,Sim,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Entre 35 e 44 anos,Masculino,São Paulo,"Classe B: entre R$7,1 mil e R$ 22 mil",Sim,Menos de 8 anos;,Preço;Qualidade;Crescimento;,Não,Comprar mais barato,Crescimento;Preço;,Não,Trocou;Doou;Recebeu;,Sim,Sim
228,Entre 35 e 44 anos,Masculino,Salvador,"Classe B: entre R$7,1 mil e R$ 22 mil",Sim,Menos de 8 anos;,Qualidade;Crescimento;,Não,Comprar mais barato,Qualidade;Preço;,Sim,Doou;Recebeu;,Sim,Sim
229,Entre 35 e 44 anos,Feminino,São Paulo,"Classe B: entre R$7,1 mil e R$ 22 mil",Sim,Menos de 8 anos;,Preço;,Não,Comprar mais barato,Preço;,Sim,Doou;,Sim,Sim
230,60+,Masculino,São Paulo,"Classe B: entre R$7,1 mil e R$ 22 mil",Sim,Entre 25 e 34 anos;,Preço;,Não,Comprar mais barato,Preço;,Sim,Doou;,Sim,Sim
231,Menos de 18 anos,Prefiro não me identificar,Osasco,"Classe C: entre R$ 2,9 mil e R$ 7,1 mil",Não,NaN,Crescimento;Preço;Qualidade;,Não,Comprar mais barato,Preço;Crescimento;Qualidade;,Sim,Doou;Trocou;Recebeu;,Não,Sim

### Renomeando colunas

In [74]:
df_pesquisa.rename(
    columns={
        'Em qual faixa etária você se encontra? ': 'faixa_etaria', 'Você se identifica com qual gênero?': 'genero', 
        'Em qual cidade você vive?': 'cidade', 'Em qual faixa salarial você se encaixa?': 'faixa_salarial',
        'Você tem filhos?': 'flag_filho', 'Se sim, ele se encaixa em qual faixa etária? ': 'faixa_etaria_filho', 'Quais dificuldades você acha que são encontradas ao tentar comprar as roupas infantis? ': 'dificuldade_infantil',
        'Você conhece algum local de coleta de tecido? ': 'reciclagem_tecido', 'Você prefere comprar roupas com o objetivo de que:': 'objetivo_compra',
        'Quais dificuldades você encontra ao tentar comprar as suas roupas? ': 'dificuldade_compra', 'Você compraria roupas usadas? ': 'compra_roupa_usada',
        'Já trocou roupas de alguma forma? ': 'forma_trocou', 'Aplicativos de compras online seria algo que considera seguro? ': 'seguranca_aplicativo',
        'Nosso objetivo é incentivar a troca de itens infantis entre as pessoas, além de disponibilizar os produtos por um preço mais acessível. Você estaria interessado/a em por utilizar um aplicativo com...': 'target'
        }, 
    inplace = True)

display(df_pesquisa.head(1))

,faixa_etaria,genero,cidade,faixa_salarial,flag_filho,faixa_etaria_filho,dificuldade_infantil,reciclagem_tecido,objetivo_compra,dificuldade_compra,compra_roupa_usada,forma_trocou,seguranca_aplicativo,target
0,Entre 35 e 44 anos,Feminino,Osasco,"Classe C: entre R$ 2,9 mil e R$ 7,1 mil",Sim,Entre 9 e 14 anos,Preço;,Não,Comprar mais barato,Crescimento;,Sim,Doou;Trocou;,Não,Não

In [51]:
for columns in df_pesquisa:
    print(f'{columns}:\n')
    for item, keys in dict(df_pesquisa[columns].value_counts()).items():
        print(f'{item}: {keys}')
    print('\n')

faixa_etaria:

Menos de 18 anos: 76
Entre 35 e 44 anos: 52
Entre 45 e 54 anos: 37
Entre 54 e 59 anos: 18
Entre 25 e 34 anos: 18
Entre 18 e 24 anos: 16
60+: 14


genero:

Feminino: 152
Masculino: 73
Prefiro não me identificar: 6


cidade:

São Paulo: 72
São Paulo : 48
Osasco: 26
Osasco : 5
são paulo: 4
Guarulhos : 4
Guarulhos: 4
São paulo: 4
SÃO PAULO: 3
SP: 3
sao paulo: 3
Taboão da Serra : 3
São Bernardo do Campo: 2
Sp: 2
Sao paulo: 1
Sao Paulo: 1
Mogi das Cruzes: 1
Atibaia : 1
são Paulo : 1
camopinas: 1
Taboão da Serra: 1
Carapicuiba: 1
Indaiatuba : 1
Guarulhos SP: 1
Ribeirão Pires : 1
Cotia : 1
Campinas: 1
Embu: 1
Campinas-SP: 1
Campinas SP: 1
CAMPINAS : 1
Guarujá: 1
Guarujá : 1
Rio de Janeiro: 1
Serra - ES: 1
Caieiras: 1
Cotia: 1
Mauá - São Paulo: 1
São Paulo, capital : 1
Carapicuíba : 1
Saint Paul: 1
Barueri : 1
Barueri: 1
São paulo : 1
São paulo - Capital: 1
Santo André: 1
São Paulo - Capital : 1
São Paulo SP : 1
Itaquaquecetuba: 1
Campinas/ SP: 1
Rio Claro SP : 1
Rio Claro-SP : 1
Osasco- São Paulo: 1
São Paulo.: 1
Santana de Parnaíba: 1
Embu Guaçu : 1
Carapicuíba.: 1
OSASCO: 1
Guarulhos - SP: 1
Barueri/SP: 1
Cajamar SP : 1
Salvador: 1


faixa_salarial:

Classe C: entre R$ 2,9 mil e R$ 7,1 mil: 92
Classe B: entre R$7,1 mil e R$ 22 mil: 83
Classe D/E: até R$ 2,9 mil: 40
Classe A: superior a R$ 22 mil: 16


flag_filho:

Sim: 121
Não: 110


faixa_etaria_filho:

Entre 15 e 17 anos: 34
Entre 9 e 14 anos: 23
Menos de 8 anos: 20
Entre 18 e 24 anos: 12
Entre 25 e 34 anos: 10
Menos de 8 anos;: 6
Entre 35 e 44 anos: 5
Entre 25 e 34 anos;: 3
Entre 35 e 44 anos;: 2
Entre 9 e 14 anos;: 2
Entre 45 e 59 anos: 1
Entre 15 e 17 anos;Entre 9 e 14 anos;: 1
Menos de 8 anos;Entre 9 e 14 anos;: 1
Entre 25 e 34 anos;Entre 35 e 44 anos;: 1


dificuldade_infantil:

Preço;: 76
Crescimento;: 37
Qualidade;: 20
Preço;Crescimento;: 19
Preço;Crescimento;Qualidade;: 16
Preço;Qualidade;: 15
Crescimento;Preço;: 12
Qualidade;Preço;: 11
Crescimento;Preço;Qualidade;: 7
Crescimento;Qualidade;Preço;: 5
Preço;Qualidade;Crescimento;: 4
Qualidade;Crescimento;: 3
Qualidade;Preço;Crescimento;: 3
Crescimento;Qualidade;: 2
Qualidade;Crescimento;Preço;: 1


reciclagem_tecido:

Não: 204
Sim: 27


objetivo_compra:

Comprar mais barato: 178
Chegue mais rápido: 53


dificuldade_compra:

Preço;: 86
Preço;Qualidade;: 49
Qualidade;: 36
Qualidade;Preço;: 17
Crescimento;: 15
Preço;Crescimento;Qualidade;: 12
Preço;Crescimento;: 5
Crescimento;Preço;: 3
Qualidade;Crescimento;: 2
Qualidade;Crescimento;Preço;: 2
Preço;Qualidade;Crescimento;: 2
Crescimento;Qualidade;Preço;: 1
Crescimento;Qualidade;: 1


compra_roupa_usada:

Sim: 162
Não: 69


forma_trocou:

Doou;: 105
Doou;Recebeu;: 44
Trocou;Doou;Recebeu;: 25
Trocou;: 19
Doou;Recebeu;Trocou;: 9
Doou;Trocou;Recebeu;: 8
Recebeu;: 7
Trocou;Doou;: 6
Doou;Trocou;: 5
Recebeu;Doou;Trocou;: 1
Recebeu;Doou;: 1
Recebeu;Trocou;Doou;: 1


seguranca_aplicativo:

Sim: 183
Não: 48


target:

Sim: 171
Não: 60

### Acertando as colunas - Tratamento Regex

### Colunas que tinham múltipla escolha

Padrão novo das colunas 

dificuldade_infantil e dificuldade_compra:
- Preco;
- Qualidade;
- Crescimento;
- Preco;Qualidade;
- Preco;Crescimento;
- Qualidade;Crescimento;
- Preco;Qualidade;Crescimento;


forma_trocou:
 - Doou;
 - Trocou;
 - Recebeu;
 - Doou;Trocou;
 - Doou;Recebeu;
 - Trocou;Recebeu;
 - Doou;Trocou;Recebeu;

In [52]:
# Dificuldade de comprar roupar infantis

dificuldade_defective = list(df_pesquisa['dificuldade_infantil'].unique())

for i in dificuldade_defective:
    print(i)
    if i.count(';') == 2:
        if 'Preço' in i:
            if 'Qualidade' in i:
                df_pesquisa = df_pesquisa.replace(i, 'Preco;Qualidade;')
            elif 'Crescimento' in i:
                df_pesquisa = df_pesquisa.replace(i, 'Preco;Crescimento;')
        else:
            df_pesquisa = df_pesquisa.replace(i, 'Qualidade;Crescimento;')
    elif i.count(';') == 3:
        df_pesquisa = df_pesquisa.replace(i, 'Preco;Qualidade;Crescimento;')

# Formas que já trocou roupas

forma_trocou_defective = list(df_pesquisa['forma_trocou'].unique())

for i in forma_trocou_defective:
    print(i)
    if i.count(';') == 2:
        if 'Doou' in i:
            if 'Trocou' in i:
                df_pesquisa = df_pesquisa.replace(i, 'Doou;Trocou;')
            elif 'Recebeu' in i:
                df_pesquisa = df_pesquisa.replace(i, 'Doou;Recebeu;')
        else:
            df_pesquisa = df_pesquisa.replace(i, 'Trocou;Recebeu;')
    elif i.count(';') == 3:
        df_pesquisa = df_pesquisa.replace(i, 'Doou;Trocou;Recebeu;')

Preço;
Crescimento;
Qualidade;Crescimento;
Crescimento;Preço;Qualidade;
Crescimento;Qualidade;Preço;
Preço;Crescimento;
Qualidade;Preço;Crescimento;
Qualidade;
Crescimento;Preço;
Preço;Qualidade;Crescimento;
Preço;Crescimento;Qualidade;
Preço;Qualidade;
Qualidade;Preço;
Crescimento;Qualidade;
Qualidade;Crescimento;Preço;
Doou;Trocou;
Doou;
Trocou;Doou;Recebeu;
Doou;Recebeu;Trocou;
Recebeu;
Trocou;
Doou;Recebeu;
Recebeu;Doou;Trocou;
Trocou;Doou;
Doou;Trocou;Recebeu;
Recebeu;Doou;
Recebeu;Trocou;Doou;

In [53]:
print(df_pesquisa['dificuldade_compra'].unique())

print(df_pesquisa['forma_trocou'].unique())

['Crescimento;' 'Preço;' 'Qualidade;Crescimento;' 'Preco;Qualidade;'
 'Preco;Qualidade;Crescimento;' 'Qualidade;' 'Preco;Crescimento;']
['Doou;Trocou;' 'Doou;' 'Doou;Trocou;Recebeu;' 'Recebeu;' 'Trocou;'
 'Doou;Recebeu;']

### Consertando a coluna de cidade

In [54]:
# Função para substituir a cidade
def substituir_cidade(nome):
    cidade = nome.lower().strip()
    if 'guaruj' in cidade:
        return 'Guaruja'
    elif 'guarulhos' in cidade:
        return 'Guarulhos'
    elif 'osasco' in cidade:
        return 'Osasco'
    elif 'barueri' in cidade:
        return 'Barueri'
    elif 'campinas' in cidade or 'camopinas' in cidade:
        return 'Campinas'
    elif 'carapicu' in cidade:
        return 'Carapicuíba'
    elif 'tabo' in cidade:
        return 'Taboao da Serra'
    elif 's' in cidade and 'paulo' in cidade:
        return 'Sao Paulo'
    elif 'sp' in cidade:
        return 'Sao Paulo'
    elif 'saint' in cidade:
        return 'Sao Paulo'
    elif 'cotia' in cidade:
        return 'Cotia'
    else:
        return nome

for i in list(df_pesquisa['cidade'].unique()):
    df_pesquisa = df_pesquisa.replace(i, substituir_cidade(i))

for item, keys in dict(df_pesquisa['cidade'].value_counts()).items():
    print(f'{item}: {keys}')

Sao Paulo: 153
Osasco: 33
Guarulhos: 10
Campinas: 6
Taboao da Serra: 4
Carapicuíba: 3
Barueri: 3
São Bernardo do Campo: 2
Cotia: 2
Guaruja: 2
Mogi das Cruzes: 1
Caieiras: 1
Serra - ES: 1
Rio de Janeiro: 1
Ribeirão Pires : 1
Embu: 1
Indaiatuba : 1
Atibaia : 1
Embu Guaçu : 1
Santana de Parnaíba: 1
Itaquaquecetuba: 1
Santo André: 1
Salvador: 1

### Substituindo valores nulos

In [55]:
print('Lista de nulos existentes em cada coluna:\n', df_pesquisa.isnull().sum())

df_pesquisa = df_pesquisa.fillna('Nao tem filhos')

print('\n\nNulos na coluna faixa_etaria_filho após tratamento: ', df_pesquisa['faixa_etaria_filho'].isnull().sum())

Lista de nulos existentes em cada coluna:
 faixa_etaria              0
genero                    0
cidade                    0
faixa_salarial            0
flag_filho                0
faixa_etaria_filho      110
dificuldade_infantil      0
reciclagem_tecido         0
objetivo_compra           0
dificuldade_compra        0
compra_roupa_usada        0
forma_trocou              0
seguranca_aplicativo      0
target                    0
dtype: int64


Nulos na coluna faixa_etaria_filho após tratamento:  0

## Salvando arquivo da base limpa

In [56]:
df_pesquisa.to_csv('./bases/base_limpa.csv')

## Preparando para aplicar balanceamento

In [73]:
display(df_pesquisa.head(1))

,faixa_etaria,genero,cidade,faixa_salarial,flag_filho,faixa_etaria_filho,dificuldade_infantil,reciclagem_tecido,objetivo_compra,dificuldade_compra,compra_roupa_usada,forma_trocou,seguranca_aplicativo,target
0,Entre 35 e 44 anos,Feminino,Osasco,"Classe C: entre R$ 2,9 mil e R$ 7,1 mil",Sim,Entre 9 e 14 anos,Preço;,Não,Comprar mais barato,Crescimento;,Sim,Doou;Trocou;,Não,Não

### Separação de X e Y (Para se precisar)

In [57]:
atributos = df_pesquisa.iloc[:, :-1]
resposta = pd.DataFrame(df_pesquisa.iloc[:, -1])

### Transformando dados categóricos em númericos

In [58]:
label_encoder = LabelEncoder()

transformador = ColumnTransformer(
    transformers=[('X', OrdinalEncoder(), make_column_selector(dtype_include=['object', 'bool']))],  
    remainder= 'passthrough', 
    verbose_feature_names_out= False
)

df_transformado = pd.DataFrame(transformador.fit_transform(atributos), columns=transformador.get_feature_names_out())

X = df_transformado.sort_index(axis=1)
display(X)

y = pd.DataFrame(label_encoder.fit_transform(resposta), columns= ['Target'])
display(y)

df_transformado_final = pd.concat([X, y], axis=1)
display(df_transformado_final)

,cidade,compra_roupa_usada,dificuldade_compra,dificuldade_infantil,faixa_etaria,faixa_etaria_filho,faixa_salarial,flag_filho,forma_trocou,genero,objetivo_compra,reciclagem_tecido,seguranca_aplicativo
0,13.0,1.0,0.0,4.0,3.0,9.0,2.0,1.0,2.0,0.0,1.0,0.0,0.0
1,1.0,0.0,4.0,0.0,5.0,0.0,2.0,1.0,0.0,0.0,1.0,0.0,1.0
2,19.0,1.0,6.0,6.0,6.0,14.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0
3,13.0,1.0,4.0,0.0,6.0,14.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0
4,19.0,0.0,0.0,0.0,6.0,14.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,19.0,0.0,1.0,3.0,3.0,12.0,1.0,1.0,3.0,1.0,1.0,0.0,1.0
227,16.0,1.0,2.0,6.0,3.0,12.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
228,19.0,1.0,4.0,4.0,3.0,12.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
229,19.0,1.0,4.0,4.0,0.0,4.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
230,13.0,1.0,3.0,3.0,6.0,14.0,2.0,0.0,3.0,2.0,1.0,0.0,0.0

C:\Users\sarahbatista-ieg\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     Target
0         0
1         1
2         1
3         1
4         1
..      ...
226       1
227       1
228       1
229       1
230       1

[231 rows x 1 columns]

,cidade,compra_roupa_usada,dificuldade_compra,dificuldade_infantil,faixa_etaria,faixa_etaria_filho,faixa_salarial,flag_filho,forma_trocou,genero,objetivo_compra,reciclagem_tecido,seguranca_aplicativo,Target
0,13.0,1.0,0.0,4.0,3.0,9.0,2.0,1.0,2.0,0.0,1.0,0.0,0.0,0
1,1.0,0.0,4.0,0.0,5.0,0.0,2.0,1.0,0.0,0.0,1.0,0.0,1.0,1
2,19.0,1.0,6.0,6.0,6.0,14.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0,1
3,13.0,1.0,4.0,0.0,6.0,14.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,1
4,19.0,0.0,0.0,0.0,6.0,14.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,19.0,0.0,1.0,3.0,3.0,12.0,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1
227,16.0,1.0,2.0,6.0,3.0,12.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1
228,19.0,1.0,4.0,4.0,3.0,12.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1
229,19.0,1.0,4.0,4.0,0.0,4.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1
230,13.0,1.0,3.0,3.0,6.0,14.0,2.0,0.0,3.0,2.0,1.0,0.0,0.0,1

## Balanceamento das Classes e aumento da base

### SMOTE

In [59]:
smote = SMOTE(sampling_strategy={
        0 : 1037,
        1 : 1001
    },random_state=24)

X_resampled, y_resampled = smote.fit_resample(X, y)

df_smote = pd.concat([X_resampled, y_resampled], axis=1)

display(len(df_smote))

2038

### BOOTSTRAP

In [60]:
df_bootstrap = df_transformado_final.sample(n=2038, replace=True, random_state=42)


display(df_bootstrap)

,cidade,compra_roupa_usada,dificuldade_compra,dificuldade_infantil,faixa_etaria,faixa_etaria_filho,faixa_salarial,flag_filho,forma_trocou,genero,objetivo_compra,reciclagem_tecido,seguranca_aplicativo,Target
102,19.0,1.0,2.0,4.0,6.0,14.0,2.0,0.0,3.0,0.0,1.0,1.0,1.0,1
179,19.0,1.0,2.0,2.0,3.0,9.0,1.0,1.0,3.0,1.0,0.0,0.0,1.0,1
92,19.0,1.0,5.0,4.0,2.0,14.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,1
14,19.0,0.0,4.0,0.0,6.0,14.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0
106,19.0,1.0,4.0,4.0,4.0,3.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,13.0,1.0,1.0,1.0,6.0,14.0,2.0,0.0,3.0,2.0,0.0,1.0,0.0,1
59,19.0,0.0,5.0,5.0,1.0,14.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0
175,22.0,1.0,4.0,4.0,4.0,2.0,2.0,1.0,0.0,0.0,0.0,1.0,1.0,0
204,8.0,0.0,5.0,5.0,2.0,12.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
27,1.0,1.0,4.0,4.0,6.0,14.0,3.0,0.0,3.0,1.0,1.0,1.0,1.0,1

### SVM SMOTE

In [61]:
sm = SVMSMOTE(
    sampling_strategy={
        0 : 1037,
        1 : 1001
        }, 
    random_state=42
)

X_res, y_res = sm.fit_resample(X, y)

df_svm_smote = pd.concat([X_res, y_res], axis=1)
display(len(df_svm_smote))

1598

### K MEANS SMOTE

In [62]:
k_means = KMeansSMOTE(
    sampling_strategy={
        0 : 1037,
        1 : 1001
    },
    kmeans_estimator=MiniBatchKMeans(n_init=1, random_state=0), 
    random_state=42
)
X_res, y_res = sm.fit_resample(X, y)

df_kmeans_smote = pd.concat([X_res, y_res], axis=1)
display(len(df_kmeans_smote))

1598

### BODERLINE SMOTE

In [63]:
boderline = BorderlineSMOTE(
    sampling_strategy={
        0 : 1037,
        1 : 1001
        }, 
        random_state=42)
X_res, y_res = boderline.fit_resample(X, y)

df_boderline_smote = pd.concat([X_res, y_res], axis=1)
display(len(df_boderline_smote))

2038

### RANDOM OVERSAMPLING

In [64]:
ros = RandomOverSampler(sampling_strategy={
        0 : 1037,
        1 : 1001
        }, 
        random_state=42)
X_res, y_res = ros.fit_resample(X, y)

df_random_oversampling = pd.concat([X_res, y_res], axis=1)
display(len(df_random_oversampling))

2038

### ADASYN

In [65]:
ada = ADASYN(
    sampling_strategy={
        0 : 1037,
        1 : 1001
        },
    random_state=42
    )
X_res, y_res = ada.fit_resample(X, y)

df_adasyn = pd.concat([X_res, y_res], axis=1)
display(len(df_adasyn))

2058

# Encapsulando todas as bases geradas

In [66]:
pickle.dump(
    {
     'df_transformado': df_transformado_final,
     'df_smote' : df_smote, 
     'df_bootstrap': df_bootstrap, 
     'df_svm_smote': df_svm_smote, 
     'df_kmeans_smote' : df_kmeans_smote, 
     'df_boderline_smote' : df_boderline_smote, 
     'df_random_oversampling' : df_random_oversampling, 
     'df_adasyn' : df_adasyn
     }, 
    open('./bases/bases.pk1', 'wb'))

# Geração da base - Modelo 2

In [67]:
import pandas as pd
import numpy as np

user_ids = list(range(1, 50))

products = [
    {'product_id': 1, 'price': 49.90, 'category': 'Brinquedos'}, 
    {'product_id': 2, 'price': 39.90, 'category': 'Roupas'}, 
    {'product_id': 3, 'price': 59.90, 'category': 'Livros'}, 
    {'product_id': 4, 'price': 19.90, 'category': 'Acessorios'}, 
    {'product_id': 5, 'price': 29.90, 'category': 'Materiais Escolares'}, 
    {'product_id': 6, 'price': 79.90, 'category': 'Moveis'}, 
    {'product_id': 7, 'price': 45.00, 'category': 'Jogos'}, 
    {'product_id': 8, 'price': 34.90, 'category': 'Tecnologia Educativa'}, 
    {'product_id': 9, 'price': 89.90, 'category': 'Bolsas e Mochilas'}, 
    {'product_id': 10, 'price': 9.99, 'category': 'Artes'}, 
    {'product_id': 11, 'price': 19.99, 'category': 'Decoracao'}, 
    {'product_id': 12, 'price': 5.50, 'category': 'Fantasia'}, 
    {'product_id': 13, 'price': 24.90, 'category': 'Esportes'}, 
    {'product_id': 14, 'price': 14.90, 'category': 'Brinquedos'}, 
    {'product_id': 15, 'price': 99.90, 'category': 'Roupas'}, 
    {'product_id': 16, 'price': 15.99, 'category': 'Livros'}, 
    {'product_id': 17, 'price': 7.50, 'category': 'Acessorios'}, 
    {'product_id': 18, 'price': 12.99, 'category': 'Materiais Escolares'}, 
    {'product_id': 19, 'price': 22.50, 'category': 'Moveis'}, 
    {'product_id': 20, 'price': 32.75, 'category': 'Jogos'}, 
    {'product_id': 21, 'price': 41.25, 'category': 'Tecnologia Educativa'}, 
    {'product_id': 22, 'price': 58.00, 'category': 'Bolsas e Mochilas'}, 
    {'product_id': 23, 'price': 68.30, 'category': 'Artes'}, 
    {'product_id': 24, 'price': 73.95, 'category': 'Decoracao'}, 
    {'product_id': 25, 'price': 82.10, 'category': 'Fantasia'}, 
    {'product_id': 26, 'price': 90.00, 'category': 'Esportes'}, 
    {'product_id': 27, 'price': 95.50, 'category': 'Brinquedos'}, 
    {'product_id': 28, 'price': 11.45, 'category': 'Roupas'}, 
    {'product_id': 29, 'price': 16.80, 'category': 'Livros'}, 
    {'product_id': 30, 'price': 21.60, 'category': 'Acessorios'}, 
    {'product_id': 31, 'price': 27.50, 'category': 'Materiais Escolares'}, 
    {'product_id': 32, 'price': 33.90, 'category': 'Moveis'}, 
    {'product_id': 33, 'price': 48.25, 'category': 'Jogos'}, 
    {'product_id': 34, 'price': 54.99, 'category': 'Tecnologia Educativa'}, 
    {'product_id': 35, 'price': 61.40, 'category': 'Bolsas e Mochilas'}, 
    {'product_id': 36, 'price': 75.00, 'category': 'Artes'}, 
    {'product_id': 37, 'price': 88.80, 'category': 'Decoracao'}, 
    {'product_id': 38, 'price': 14.75, 'category': 'Fantasia'}, 
    {'product_id': 39, 'price': 20.99, 'category': 'Esportes'}, 
    {'product_id': 40, 'price': 30.00, 'category': 'Brinquedos'}, 
    {'product_id': 41, 'price': 36.40, 'category': 'Roupas'}, 
    {'product_id': 42, 'price': 42.90, 'category': 'Livros'}, 
    {'product_id': 43, 'price': 53.70, 'category': 'Acessorios'}, 
    {'product_id': 44, 'price': 60.00, 'category': 'Materiais Escolares'}, 
    {'product_id': 45, 'price': 66.60, 'category': 'Moveis'}, 
    {'product_id': 46, 'price': 77.50, 'category': 'Jogos'}, 
    {'product_id': 47, 'price': 85.25, 'category': 'Tecnologia Educativa'}, 
    {'product_id': 48, 'price': 92.75, 'category': 'Bolsas e Mochilas'}, 
    {'product_id': 49, 'price': 18.50, 'category': 'Artes'}, 
    {'product_id': 50, 'price': 29.50, 'category': 'Decoracao'}, 
    {'product_id': 51, 'price': 4.99, 'category': 'Fantasia'}, 
    {'product_id': 52, 'price': 8.75, 'category': 'Esportes'}, 
    {'product_id': 53, 'price': 13.49, 'category': 'Brinquedos'}, 
    {'product_id': 54, 'price': 17.00, 'category': 'Roupas'}, 
    {'product_id': 55, 'price': 23.99, 'category': 'Livros'}, 
    {'product_id': 56, 'price': 26.99, 'category': 'Acessorios'}, 
    {'product_id': 57, 'price': 31.50, 'category': 'Materiais Escolares'}, 
    {'product_id': 58, 'price': 35.00, 'category': 'Moveis'}, 
    {'product_id': 59, 'price': 40.00, 'category': 'Jogos'}, 
    {'product_id': 60, 'price': 43.99, 'category': 'Tecnologia Educativa'}, 
    {'product_id': 61, 'price': 47.75, 'category': 'Bolsas e Mochilas'}, 
    {'product_id': 62, 'price': 50.50, 'category': 'Artes'}, 
    {'product_id': 63, 'price': 52.00, 'category': 'Decoracao'}, 
    {'product_id': 64, 'price': 55.50, 'category': 'Fantasia'}, 
    {'product_id': 65, 'price': 62.50, 'category': 'Esportes'}, 
    {'product_id': 66, 'price': 67.00, 'category': 'Brinquedos'}, 
    {'product_id': 67, 'price': 70.99, 'category': 'Roupas'}, 
    {'product_id': 68, 'price': 72.25, 'category': 'Livros'}, 
    {'product_id': 69, 'price': 76.00, 'category': 'Acessorios'}, 
    {'product_id': 70, 'price': 80.50, 'category': 'Materiais Escolares'}, 
    {'product_id': 71, 'price': 83.00, 'category': 'Moveis'}, 
    {'product_id': 72, 'price': 86.40, 'category': 'Jogos'}, 
    {'product_id': 73, 'price': 91.00, 'category': 'Tecnologia Educativa'}, 
    {'product_id': 74, 'price': 93.40, 'category': 'Bolsas e Mochilas'}, 
    {'product_id': 75, 'price': 96.30, 'category': 'Artes'}, 
    {'product_id': 76, 'price': 97.50, 'category': 'Decoracao'}, 
    {'product_id': 77, 'price': 10.50, 'category': 'Fantasia'}, 
    {'product_id': 78, 'price': 15.25, 'category': 'Esportes'}, 
    {'product_id': 79, 'price': 18.75, 'category': 'Brinquedos'}, 
    {'product_id': 80, 'price': 20.00, 'category': 'Roupas'}, 
    {'product_id': 81, 'price': 25.00, 'category': 'Livros'}, 
    {'product_id': 82, 'price': 28.00, 'category': 'Acessorios'}, 
    {'product_id': 83, 'price': 33.00, 'category': 'Materiais Escolares'}, 
    {'product_id': 84, 'price': 37.50, 'category': 'Moveis'}, 
    {'product_id': 85, 'price': 44.50, 'category': 'Jogos'}, 
    {'product_id': 86, 'price': 46.00, 'category': 'Tecnologia Educativa'}, 
    {'product_id': 87, 'price': 49.00, 'category': 'Bolsas e Mochilas'}, 
    {'product_id': 88, 'price': 51.00, 'category': 'Artes'}, 
    {'product_id': 89, 'price': 56.25, 'category': 'Decoracao'}, 
    {'product_id': 90, 'price': 63.50, 'category': 'Fantasia'}, 
    {'product_id': 91, 'price': 64.75, 'category': 'Esportes'}, 
    {'product_id': 92, 'price': 69.00, 'category': 'Brinquedos'}, 
    {'product_id': 93, 'price': 74.00, 'category': 'Roupas'}, 
    {'product_id': 94, 'price': 78.99, 'category': 'Livros'}, 
    {'product_id': 95, 'price': 81.25, 'category': 'Acessorios'}, 
    {'product_id': 96, 'price': 84.75, 'category': 'Materiais Escolares'}, 
    {'product_id': 97, 'price': 88.25, 'category': 'Moveis'}, 
    {'product_id': 98, 'price': 94.00, 'category': 'Jogos'}, 
    {'product_id': 99, 'price': 98.25, 'category': 'Tecnologia Educativa'}
]

interactions = []

for i in range(1000):
    user_id = np.random.choice(user_ids) # Qual é o usuario
    product_id = np.random.choice([0, 98]) # Qual é o produto
    favorite = np.random.choice([True, False])  # Se é favorito
    target = np.random.choice([1, 0]) # Se comprou

    interactions.append({
        'user_id': user_id,
        'product_id': product_id,
        'price': products[product_id]['price'],
        'category': products[product_id]['category'],
        'favorite': favorite,
        'target': target
    })

df_interactions = pd.DataFrame(interactions)

## Transformando categorico em numerico

In [68]:
atributos2 = df_interactions.iloc[:, :-1]
resposta2 = df_interactions.iloc[:, -1]

label_encoder2 = LabelEncoder()

transformador2 = ColumnTransformer(
    transformers=[('X', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), make_column_selector(dtype_include=['object', 'bool']))],  
    remainder= 'passthrough', 
    verbose_feature_names_out= False
)

df_transformado2 = pd.DataFrame(transformador2.fit_transform(atributos2), columns=transformador2.get_feature_names_out())

X = df_transformado2.sort_index(axis=1)

y = pd.DataFrame(label_encoder2.fit_transform(resposta2), columns= ['Target'])

df_transformado_final2 = pd.concat([X, y], axis=1)

In [69]:
display(df_transformado_final2)

     category  favorite  price  product_id  user_id  Target
0         0.0       0.0  49.90         0.0     44.0       0
1         1.0       0.0  98.25        98.0     33.0       0
2         0.0       1.0  49.90         0.0     22.0       1
3         1.0       0.0  98.25        98.0     37.0       1
4         1.0       0.0  98.25        98.0     49.0       1
..        ...       ...    ...         ...      ...     ...
995       0.0       1.0  49.90         0.0     39.0       0
996       0.0       1.0  49.90         0.0     13.0       1
997       0.0       0.0  49.90         0.0     43.0       0
998       0.0       0.0  49.90         0.0     47.0       0
999       1.0       1.0  98.25        98.0     30.0       0

[1000 rows x 6 columns]

## Encapsulando a base gerada

In [70]:
pickle.dump(
    [df_transformado_final2, transformador2], 
    open('./bases/interactions.pk1', 'wb'))